body, html {
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
    font-size: 12px;
    overflow-x: hidden;
}

h1 {
    font-size: 5rem;
    margin: 10px;
    font-family: 'Goudy Old Style';
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 17px;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    min-height: 20px;
    max-height: 20px;
}

/* Hidden on small screens, appears of large screens */
.topbar-nav {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    font-size: 25px;
    z-index: 100;
    padding-right: 20%;
    padding-left: 15%;
}

/* Appears on small screens */
.hamburger {
    display: none;
    cursor: pointer;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-around;
    width: 3.5rem;
    height: 2.5rem;
    background: transparent;
    border: none;
    z-index: 10;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 0.25rem;
    background: #ffffff;
    transition: all 0.3s linear;
}

.hamburger:hover {
    color: #747474; /* Change for hover effect */
}

.hamburger.active {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

/* Styles for the topbar-nav when active (mobile view) */
.topbar-nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.topbar-nav.show {

    display: flex;
    /* flex-direction: column;
    margin-top: 60%; */
}

.logo img {
    max-height: 50px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin-left: 20px; /* Space between nav links */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #747474; /* Change for hover effect */
}

/* Sections styling */
div[id] {
    height: 100vh;
    padding: 20px;
    border: 0px solid #ccc;
}

#home {
    background: url('images/des_home_page.jpg'), rgb(54, 54, 54);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff8800;
    font-size: 3rem;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 3px 3px 3px #353535;

    /* fade in background */
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.home-inner {
    /* Empty */
}

#about {
    background-color: #ebebeb;
}

.centered-text h1 {
  margin: 0;
  color: inherit;
}

/* Additional styling for aesthetics */
.centered-text h1 {
  font-size: 4.2rem;
}

#gallery {
    background-color: #ebebeb;
    padding-top: 0px;
    padding-bottom: 150px;
    padding-left: 0px;
    padding-right: 0px;
    height: 500px;      /* Same height as .slideshow-container */
}

.gallery-list {
    display: inline-block;
    columns: 3;
}

h2 {
    font-family: 'Goudy Old Style';
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Impact';
    font-weight: 50;
}

.slideshow-container {
    position: relative;
    max-width: 500px; /* Adjust based on your preference */
    width: 500px;  /* Match the image width */
    height: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mySlide {
    display: none; /* Hide images initially */
}

.slideshow-container .mySlide img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center;

}

/* Put slide number in top right corner of slideshow */
.slide-number {
    position: absolute;
    max-height: 30px;
    width: 40px;
    color: hsl(0, 100%, 50%);
    font-weight: 1000;
    font-size: 20px;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    padding: 0;
}

/* Style the prev & next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

#contact {

}

ul {
    list-style-type: none;
    padding: 0;
    columns: 1;
}

li {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
  
.footer-content {
    display: inline-block;
}

/* Hides the .topbar-nav on smaller screens */
@media screen and (max-width: 1000px) {      /*original max-width was 768px*/
    #home {
        margin-left: 0;
        margin-right: 0;
    }
    .topbar-nav {
      display: none;
    }
    .hamburger {
        display: flex;
        margin-right: auto;
    }
    h1 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    #gallery {
        height: 350px;
        padding-bottom: 100px;
    }
    .slideshow-container {
        width: 300px;
        height: 300px;
    }
}